.product{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}
.product:hover{
    background: #e6e6e6;
}
.product-description{
    flex: 1 0 auto;
    padding: 10px;
}
.product-upvotes{
    text-align: center;
    padding: 10px;
}
.product-description h3 {
    margin-top: 0;
}
.product-description p {
    margin-bottom: 0;
}
.product-control a{
    font-size: 20px;
    color: #CCCCCC;
}
.product-image{
    border-radius: 10px;
    margin-left: 5px;
}